# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [28]:
import numpy as np
import pandas as pd
import csv
reviews = pd.read_csv('reviews_sample.csv')
recipes = pd.read_csv('recipes_sample.csv')
#pd.read_table('recipes_sample.csv',sep=';', encoding='cp1251')
recipes1 = pd.DataFrame(recipes)
reviews1 = pd.DataFrame(reviews)
reviews1
#recipes1

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [18]:
df=recipes1
pf=reviews1
print(df.shape[0], df.shape[1],pf.shape[0],pf.shape[1],'\n',df.dtypes,'\n',pf.dtypes)

30000 8 126696 6
 name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
 Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [19]:
print(((df.isnull().sum().sum ())/ df.shape[0])*100,"%")
print(((pf.isnull().sum().sum ())/ pf.shape[0])*100,"%")

68.97666666666666 %
0.013417945317926377 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [20]:
print(df['id'].mean(),df['minutes'].mean(),df['contributor_id'].mean(),df['n_steps'].mean(),df['n_ingredients'].mean())
print(pf['Unnamed: 0'].mean(),pf['user_id'].mean(),pf['recipe_id'].mean(),pf['rating'].mean())

221879.294 123.35813333333333 5635900.5728 9.805582137161085 9.008285984848484
566089.8211466818 140801264.7374108 160094.38706036497 4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [21]:
print(df.sample(n=10),'\n', pf.sample(n=10))

                                                    name      id  minutes  \
27647                         tiramisu  no raw eggs here  326259       20
20949             pizza escarole  escarole pie   italian  293879      105
28732                              vegetarian mixed rice  488613       59
1815                        baked couscous with tomatoes   37920       35
11158  fluffy buttermilk pancakes with maple butter s...  414265       40
3018                     big and yummy choc chip cookies  464745       25
24569                                   smith and wesson  178647        5
17758               mini spanakopita  greek spinach pies  181137       50
26170                     stuffed french toast casserole  413658       75
1787                               baked chicken fingers   18897       28

       contributor_id   submitted  n_steps  \
27647          958565  2008-09-20      9.0
20949          367711  2008-03-24      NaN
28732         2265150  2012-10-14     15.0
1815            21752  2002-08-20      6.0
11158          625680  2010-02-23     13.0
3018           573325  2011-09-23     11.0
24569          305531  2006-07-21      NaN
17758           55392  2006-08-08      NaN
26170          269521  2010-02-19     18.0
1787            25467  2002-02-04      9.0

                                             description  n_ingredients
27647  i was looking for a tiramisu recipe with no ra...            NaN
20949  another one of my grandmother's traditional it...            NaN
28732  being on a budget doesn't limit one to deprive...           14.0
1815   this is a delicious and different way to make ...            8.0
11158  i've been perfecting my pancake recipe over th...           11.0
3018   i know, i know, there are tons of chocolate ch...            9.0
24569       a good summer drink.  or actually - anytime!            4.0
17758  this is from cooking light. i haven't tried it...            NaN
26170  yummy!    make the night before and pop in the...           15.0
1787   this is a recipe i created after trying severa...            8.0
         Unnamed: 0  user_id  recipe_id        date  rating  \
109893      704494   726129     135850  2009-11-17       5
34715       894350   203362     203840  2007-01-08       5
22884       910610  1356574     385028  2009-08-22       0
30233       493678  2130957      71373  2012-02-01       2
62234       698630   174096     394518  2009-10-22       5
1053        355281  2528189      92096  2013-01-13       4
24920      1087416   502509      95534  2008-02-03       4
119987      909191   274719      58627  2008-01-23       0
107810      716018   981063      59148  2009-02-01       5
66328       305612   232736      31062  2007-12-25       5

                                                   review
109893  Easy to make and fun for our Halloween Party. ...
34715   one of the ladies at work makes this same reci...
22884   I ate this alot growing up and dining out in s...
30233   I made this exactly as stated for the rolls. T...
62234   Great - the spices on the fries were a great t...
1053    A very tasty recipe. <br/><br/>I changed it ju...
24920   Do NOT overcook! DH used the thermometer's gui...
119987  I don't really care for walnuts, but I tried t...
107810  It's our Superbowl (Go Cardinals!) drink this ...
66328   I've got to admit this one takes alot of coura...

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [22]:
reviews = reviews.rename(index = lambda x: x + 0)
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [23]:
df1 = df[(df.minutes <= 20) & (df.n_ingredients<=5)]
df1

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [25]:
import csv
import pandas as pd
recipes1['submitted'] = pd.to_datetime(recipes1['submitted'])
recipes1.to_csv('tabel27.csv', sep=';', header=True, index=True)
recipes11=pd.DataFrame(recipes1)
print(recipes11)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [26]:
from datetime import datetime
df3=recipes1[(recipes1.submitted <= datetime(2010,12,31,0,0))]
df3

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [27]:
df6=recipes1
df6.insert(8, "description_length1", df6['description'].str.len())
#df6['description'].str.len()
df6

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length1
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [63]:
#df6=recipes1
df6.name=df6.name.str.title()
df6

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length1,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [61]:
#df8=recipes1
#df6.insert(9, "name_word_count", (df6['name'].str.split()).str.len())
df6

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length1,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [36]:
df9=df6.groupby('contributor_id')['id'].count()
df9=df9.sort_values(ascending = False)
print(df9)
print('contributor_id = 89831 - участник с наибольшим кол-вом рецептов' )

contributor_id
89831         421
37449         346
37779         345
1533          186
169430        183
             ...
245835          1
245653          1
245590          1
245378          1
2002247884      1
Name: id, Length: 8404, dtype: int64
contributor_id = 89831 - участник с наибольшим кол-вом рецептов

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [43]:
df11=reviews1
df12=df11.groupby('recipe_id')['rating'].mean() 
print(df12)
k=df11.review.isnull().sum()
print(k,'-количество отсутствующих отзывов')

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64
17 -количество отсутствующих отзывов

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [64]:
df6.groupby(df6['submitted'].dt.year).size()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [50]:
df99 = df6.merge(df11[~df11['review'].isna()],left_on='id', right_on='recipe_id', how='inner')[['name', 'id', 'user_id', 'rating']]
print(df99)
df101 = df11[df11.review.isnull()]
print(df101.head())
df99.loc[df99['user_id'] == 2001508809 ] #-проверка
#df11=reviews
#df6=recipes

                                          name      id  user_id  rating
0        george s at the cove  black bean soup   44123   743566       5
1        george s at the cove  black bean soup   44123    76503       5
2        george s at the cove  black bean soup   44123    34206       5
3           healthy for them  yogurt popsicles   67664   494084       5
4           healthy for them  yogurt popsicles   67664   303445       5
...                                        ...     ...      ...     ...
126674                             zydeco soup  486161   305531       5
126675                             zydeco soup  486161  1271506       5
126676                             zydeco soup  486161   724631       5
126677                             zydeco soup  486161   133174       5
126678  cookies by design   cookies on a stick  298512   804234       1

[126679 rows x 4 columns]
       Unnamed: 0     user_id  recipe_id        date  rating review
8881        56957  2001567544       9054  2017-06-03       5    NaN
12129      273481  2002120930     167202  2018-04-18       4    NaN
18578       56955  2001508809       9054  2017-04-26       5    NaN
21913      783599  2001959957     335709  2018-01-28       5    NaN
33232     1089381  2002299388      15553  2018-10-13       4    NaN

Empty DataFrame
Columns: [name, id, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [66]:
#df11=reviews
#df6=recipes
df66=pd.DataFrame(df11['recipe_id'].value_counts()).reset_index()
df66.set_axis(['id', 'review_count'], axis=1, inplace=True)
df77=df6.merge(df66, on='id', how='left')[['id', 'name', 'review_count']]
df65= df77[df77.review_count.isnull()]
print(df65.head())
df77.loc[df77['id'] == 342620 ]
df77['review_count'].fillna(0, inplace=True) 
df77.loc[df77['id'] == 342620 ]

        id                                     name  review_count
26  223349            Pasta  With Shrimp   Eggplant           NaN
29  342620          Secret Ingredient  Bbq Meatloaf           NaN
35  276594        Windy S  Sweet And Sour Meatballs           NaN
49  216068  Goulashy  Beef Stew For The Slow Cooker           NaN
59  306590             Old Bay  Grilled Steak Fries           NaN

C:\Users\Кирилл\AppData\Local\Temp\ipykernel_17868\3455940337.py:4: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df66.set_axis(['id', 'review_count'], axis=1, inplace=True)

        id                             name  review_count
29  342620  Secret Ingredient  Bbq Meatloaf           0.0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [71]:
df44=df11['rating'].groupby(pd.DatetimeIndex(reviews['date']).year).mean().sort_values()
print(df44[:1],"\n",'рецепт 2017 года имеет наименьший рейтинг')

date
2017    3.353042
Name: rating, dtype: float64
 рецепт 2017 года имеет наименьший рейтинг

C:\Users\Кирилл\AppData\Local\Temp\ipykernel_17868\3362057434.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(df44[:1],"\n",'рецепт 2017 года имеет наименьший рейтинг')

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [74]:
df6.sort_values(by=['name_word_count'], ascending=False, inplace=True)
print(df6.head())
df6.to_csv('recipes2.csv')

                                                    name      id  minutes  \
26223  Subru Uncle S Whole Green Moong Dal I Ll Be Ma...   77188       95
27876  Top Secret Recipes Version Of  I H O P  Griddl...  113346       20
28083  Tsr Version Of T G I  Friday S Black Bean Soup...  102274       75
26222  Subru Uncle S Toor Ki Dal Sindhi Style  Dad  M...   76908       65
12072  Gingery Carrot  And Orange Soup  Add A Touch O...   68585      150

       contributor_id  submitted  n_steps  \
26223            6357 2003-11-21      NaN
27876          175727 2005-03-14      5.0
28083           74652 2004-10-19      9.0
26222            6357 2003-11-18     29.0
12072          125325 2003-08-08     11.0

                                             description  n_ingredients  \
26223  my dad and mom quite enjoy this lentil curry. ...           15.0
27876  this recipe is top secret recipes version of i...            9.0
28083  from www.topsecretrecipes.com i got this copyc...           16.0
26222  this is the lentil curry that subru uncle(our ...           15.0
12072  this warm and tangy soup has a beautiful muted...           11.0

       description_length1  name_word_count
26223                343.0               15
27876                129.0               14
28083                436.0               14
26222               1087.0               14
12072                580.0               13

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [75]:
with pd.ExcelWriter("File4.xlsx") as writer:
    df99.to_excel(writer, sheet_name="Рецепты с оценками")
    df77.to_excel(writer, sheet_name="Количество отзывов по рецептам")

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3